.app {
  text-align: center;
  background-color: #f0f0f0;
  color: black;
  min-height: 100vh;
  transition: background-color 0.5s, color 0.5s;
}

.app.dark {
  background-color: #282c34;
  color: white;
}

header {
  margin: 20px 0;
  transition: transform 0.3s ease; 
}

header:hover {
  transform: scale(1.05); 
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
  background-color: #61dafb;
  transform: scale(1.05); 
}
